:root {
  --verde:       hsl(122, 25%, 25%);
  --verde-light: hsl(122, 30%, 30%);
  --verde-dark:    hsl(122, 25%, 15%);
}

html, body {
  margin: 0;
  background-color: var(--verde);
  color: white;
}

.site-header {
  background-color: var(--verde-light);
  padding: 1.25rem 0;
}

.site-header__titulo {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.carta {
  left: 150px;
  margin-left: -110px;
  /* left: 100px;
  margin-left: -75px; */
  position: relative;
  width: 150px;
  box-shadow: 
  0px 0px 0px 1px #c4c4c4,
  0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: .32rem;
}

.cartas {
  height: 250px;
}
