<form novalidate>
  <div class="input-group">
    <label for="firstname">First name</label>
    <input type="text" name="firstname" id="firstname" />
  </div>

  <div class="input-group">
    <label for="lastname">Last name</label>
    <input type="text" name="lastname" id="lastname" />
  </div>

  <div class="input-group">
    <label for="Gender">Gender</label>
    <select name="gender" id="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="input-group">
    <label for="balance">Balance</label>
    <input type="number" name="balance" id="balance" />
  </div>

  <div class="input-group">
    <label for="avatar">Avatar URL</label>
    <input type="text" name="avatar" id="avatar">
  </div>

  <div class="input-group">
    <label for="isActive">Is active?</label>
    <input type="checkbox" name="isActive" id="isActive" />
  </div>

  <button class="btn btn--primary bg-light" type="submit"></button>
</form>
